
         <!-- Header Start -->
         <div class="container-fluid bg-breadcrumb">
            <ul class="breadcrumb-animation">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <div class="container text-center py-5" style="max-width: 900px;">
                <h3 class="display-3 mb-4 wow fadeInDown" data-wow-delay="0.1s">Dịch vụ</h1>
                <ol class="breadcrumb justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>                    
                    <li class="breadcrumb-item active text-primary">Dịch vụ</li>
                </ol>    
            </div>
        </div>
        <!-- Header End -->


         <!-- Feature Start -->
         <div class="container-fluid feature overflow-hidden py-5">
            <div class="container py-5">
                <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 900px;">
                    <h4 class="text-primary">Dịch vụ</h4>
                    <h1 class="display-5 mb-4">Calling cung cấp dịch vụ hỗ trợ doanh nghiệp giao tiếp với khách hàng</h1>
                    <p class="mb-0">Sử dụng hầu hết các giải pháp trên nền tảng điện toán đám mây (Cloud Services). Chúng tôi mang đến cho khách hàng những dịch vụ thiết thực và nhanh chóng nhất. 
                    </p>
                </div>
                <div class="row g-4 justify-content-center text-center mb-5">
                    <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="text-center p-4">
                            <div class="d-inline-block rounded bg-light p-4 mb-4"><i class="fas fa-phone fa-5x text-secondary"></i></div>
                            <div class="feature-content">
                                <a href="#" class="h4">Voice Brandname <i class="fa fa-long-arrow-alt-right"></i></a>
                                <p class="mt-4 mb-0">Dịch vụ cuộc gọi thương hiệu - là dịch vụ hiển thị tên định danh dành cho các tổ chức, doanh nghiệp cho các cuộc gọi ra
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="text-center p-4">
                            <div class="d-inline-block rounded bg-light p-4 mb-4"><i class="fas fa-mail-bulk fa-5x text-secondary"></i></div>
                            <div class="feature-content">
                                <a href="#" class="h4">Omni Channel Contact Center <i class="fa fa-long-arrow-alt-right"></i></a>
                                <p class="mt-4 mb-0">Tổng đài đa kênh ứng dụng Ai - Giải pháp nhằm tối ưu hóa trải nghiệm khách hàng và quản lý hiệu quả các kênh giao tiếp của doanh nghiệp.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="text-center rounded p-4">
                            <div class="d-inline-block rounded bg-light p-4 mb-4"><i class="fas fa-sitemap fa-5x text-secondary"></i></div>
                            <div class="feature-content">
                                <a href="#" class="h4">SMS Brandname <i class="fa fa-long-arrow-alt-right"></i></a>
                                <p class="mt-4 mb-0">Dịch vụ tin nhắn thương hiệu với chi phí tốt nhất và linh hoạt cho doanh nghiệp
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="text-center rounded p-4">
                            <div class="d-inline-block rounded bg-light p-4 mb-4"><i class="fas fa-tasks fa-5x text-secondary"></i></div>
                            <div class="feature-content">
                                <a href="#" class="h4">Zalo OA / ZNS <i class="fa fa-long-arrow-alt-right"></i></a>
                                <p class="mt-4 mb-0">Giải pháp gửi thông báo & chăm sóc khách hàng qua tin nhắn Zalo tiết kiệm
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="my-3">
                            <a href="#" class="btn btn-primary d-inline rounded-pill px-5 py-3">Xem thêm</a>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
        <!-- Feature End -->


        <!-- FAQ Start -->
        <div class="container-fluid FAQ bg-light overflow-hidden py-5">
            <div class="container py-5">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 wow fadeInLeft" data-wow-delay="0.1s">
                       <div class="accordion" id="accordionExample">
                            <div class="accordion-item border-0 mb-4">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button rounded-top" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseTOne">
                                        Có tích hợp được với CRM, ERP, và các hệ thống nội bộ khác không?
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body my-2">
                                        <h5>Tính năng và khả năng mở rộng</h5>
                                        <p>Hệ thống Calling có hỗ trợ Omnichannel (điện thoại, email, live chat, mạng xã hội, chatbot). Khác hàng có đội ngũ Dev có thể tích hợp được với CRM, ERP, và các hệ thống nội bộ khác.</p>
                                        <p>Khả năng mở rộng khi doanh nghiệp phát triển (thêm agent, tính năng mới, tích hợp Ai).</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item border-0 mb-4">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed rounded-top" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Hệ thống Calling bảo mật và hỗ trợ ở mức độ nào? 
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                    <div class="accordion-body my-2">
                                        <h5>Tính bảo mật và tuân thủ quy định</h5>
                                        <p>Hệ thống Calling tuân thủ các tiêu chuẩn bảo mật như ISO 27001, GDPR, PCI DSS. Dữ liệu khách hàng được lưu trữ và mã hóa bảo mật trước khi lưu trữ đến trung tâm dữ liệu.</p>
                                        <p>Hệ thống có tính năng ghi âm cuộc gọi tự động và tra cứu dễ dàng, các tài khoản truy cập đều được kiểm soát real-time. Calling hỗ trợ kỹ thuật 24/7. Chính sách SLA (Service Level Agreement) cam kết 99%. Có lộ trình nâng cấp phần mềm liên tục và miễn phí cho khách hàng đã ký.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item border-0">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed rounded-top" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Chi phí đầu tư và vận hành có cao không?
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body my-2">
                                        <h5>Chi phí đầu tư cho giải pháp Calling siêu tiết kiệm.</h5>
                                        <p>Không cần đầu tư phần cứng, không chi phí nhân sự kỹ thuật, chỉ cần máy tính, tai nghe và kết nối internet. Chi phí ban đầu thấp hơn do chỉ cần đăng ký tài khoản và sử dụng ngay. Trả phí theo mô hình SaaS (Software as a Service), thường tính theo số agent hoặc phút gọi.</p>
                                        <p>Chi phí cuộc gọi ra tiết kiệm hơn so với cước thông thường. Số tổng đài 1800 (doanh nghiệp trả phí) hoặc 1900 (khách hàng trả phí).</p>
                                    </div>
                                </div>
                            </div>
                       </div>
                    </div>
                    <div class="col-lg-6 wow fadeInRight" data-wow-delay="0.3s">
                        <div class="FAQ-img RotateMoveRight rounded">
                            <img src="/public/img/about-1-0.png" class="img-fluid w-100" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- FAQ End -->


        <!-- Pricing Start -->
        <div class="container-fluid price py-5">
            <div class="container py-5">
                <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 900px;">
                    <h4 class="text-primary">Báo giá</h4>
                    <h1 class="display-5 mb-4">Giá bán đã làm hài lòng bạn?</h1>
                    <p class="mb-0">Chính sách bán hàng linh hoạt sẽ giúp quý khách hàng dễ đầu tư ngay mà không cần đắn đo suy nghĩ. Chúng tôi cam kết về chất lượng và giá bán tốt nhất thị trường tại thời điểm hiện tại.
                    </p>
                </div>
                <div class="row g-5 justify-content-center">
                    <div class="col-md-6 col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="price-item bg-light rounded text-center">
                            <div class="text-center text-dark border-bottom d-flex flex-column justify-content-center p-4" style="width: 100%; height: 160px;">
                                <p class="fs-2 fw-bold text-uppercase mb-0">Trải nghiệm</p>
                                <div class="d-flex justify-content-center">
                                    <strong class="align-self-start">$</strong>
                                    <p class="mb-0"><span class="display-5">00</span>/mo</p>
                                </div>                        
                            </div>
                            <div class="text-start p-5">
                                <p><i class="fas fa-check text-success me-1"></i> Dùng thử 01 tháng</p>
                                <p><i class="fas fa-check text-success me-1"></i> 1 kênh tổng đài thoại/domain</p>
                                <p><i class="fas fa-check text-success me-1"></i> Tính năng Ticket</p>
                                <p><i class="fas fa-check text-success me-1"></i> Quản lý khách hàng cá nhân, tổ chức</p>
                                <p><i class="fas fa-check text-success me-1"></i> IVR - nhiều cấp</p>
                                <p><i class="fas fa-check text-success me-1"></i> Báo cáo cuộc gọi và phiếu ghi</p>
                                <p><i class="fas fa-check text-success me-1"></i> Hỗ trợ dịch vụ 24/7</p>
                                <p><i class="fas fa-check text-success me-1"></i> Lưu trữ file ghi âm (01 tháng)</p>                                
                                <p><i class="fas fa-times text-danger me-1"></i> Tích hợp phần mềm (Liên hệ)</p>
                                <p class="mb-4"><i class="fas fa-times text-danger me-1"></i> Máy nhánh (50kVND/máy/tháng)</p>
                                <button class="btn btn-light rounded-pill py-2 px-5" type="button">Chi tiết</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="price-item bg-light rounded text-center">
                            <div class="pice-item-offer">Phổ biến</div>
                            <div class="text-center text-primary border-bottom d-flex flex-column justify-content-center p-4" style="width: 100%; height: 160px;">
                                <p class="fs-2 fw-bold text-uppercase mb-0">Cơ bản</p>
                                <div class="d-flex justify-content-center">
                                    <strong class="align-self-start">đ</strong>
                                    <p class="mb-0"><span class="display-5">200k</span> tài khoản/tháng</p>
                                </div>                        
                            </div>
                            <div class="text-start p-5">
                                <p><i class="fas fa-check text-success me-1"></i> Miễn phí khảo sát hạ tầng, triển khai</p>
                                <p><i class="fas fa-check text-success me-1"></i> 1 kênh tổng đài thoại/domain</p>
                                <p><i class="fas fa-check text-success me-1"></i> Tính năng Live Chat, Ticket</p>
                                <p><i class="fas fa-check text-success me-1"></i> Quản lý khách hàng cá nhân</p>
                                <p><i class="fas fa-check text-success me-1"></i> IVR - nhiều cấp</p>
                                <p><i class="fas fa-check text-success me-1"></i> Báo cáo cuộc gọi và phiếu ghi</p>
                                <p><i class="fas fa-check text-success me-1"></i> Hỗ trợ dịch vụ 24/7</p>
                                <p><i class="fas fa-check text-success me-1"></i> Lưu trữ file ghi âm (06 tháng)</p>                                
                                <p><i class="fas fa-times text-danger me-1"></i> Tích hợp phần mềm (Liên hệ)</p>
                                <p class="mb-4"><i class="fas fa-times text-danger me-1"></i> Máy nhánh(50kVND/máy/tháng)</p>
                                <button class="btn btn-light rounded-pill py-2 px-5" type="button">Chi tiết</button>
                            </div>
                        </div>
                    </div>                    
                    <div class="col-md-6 col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="price-item bg-light rounded text-center">
                            <div class="text-center text-secondary border-bottom d-flex flex-column justify-content-center p-4" style="width: 100%; height: 160px;">
                                <p class="fs-2 fw-bold text-uppercase mb-0">Cao cấp</p>
                                <div class="d-flex justify-content-center">
                                    <strong class="align-self-start">đ</strong>
                                    <p class="mb-0"><span class="display-5">400k</span> tài khoản/tháng</p>
                                </div>                        
                            </div>
                            <div class="text-start p-5">
                                <p><i class="fas fa-check text-success me-1"></i> Miễn phí khảo sát hạ tầng, triển khai</p>
                                <p><i class="fas fa-check text-success me-1"></i> 1 kênh tổng đài thoại/domain</p>
                                <p><i class="fas fa-check text-success me-1"></i> Có Live Chat, SMS, Zalo, Email, Ticket</p>
                                <p><i class="fas fa-check text-success me-1"></i> Quản lý khách hàng cá nhân, tổ chức</p>
                                <p><i class="fas fa-check text-success me-1"></i> IVR - nhiều cấp</p>
                                <p><i class="fas fa-check text-success me-1"></i> Báo cáo cuộc gọi và phiếu ghi</p>
                                <p><i class="fas fa-check text-success me-1"></i> Hỗ trợ dịch vụ 24/7</p>
                                <p><i class="fas fa-check text-success me-1"></i> Lưu trữ file ghi âm (12 tháng)</p>                                
                                <p><i class="fas fa-times text-danger me-1"></i> Tích hợp phần mềm (Liên hệ)</p>
                                <p class="mb-4"><i class="fas fa-times text-danger me-1"></i> Máy nhánh(50kVND/máy/tháng)</p>
                                <button class="btn btn-light rounded-pill py-2 px-5" type="button">Chi tiết</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Pricing End -->